.fullFrameContainer {
  background-color: #131B26;
  width: 100%;
  height: unset;
  aspect-ratio: 22/9;
  font-family: 'Encode Sans';
  padding-bottom: 30px;
}

.modelviewer {
  height: unset;
  width: 100%;
  aspect-ratio: 16/10;
}
.controls{
  margin-top: 80%;  
}

.controlviewer {
  background-color: #131B26;
}

.pageBackground {
  background-color: #131B26;
}

.title {
  text-align: center;
  text-decoration: solid;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
}

.subTitle {
  text-align: left;
  text-decoration: solid;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 400;

  color: white;
}


.para {
  color: rgb(107, 103, 103);
  text-align: left;
  text-decoration: solid;
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
}

.animatonTitel {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}

.buttonviewer {
  height: unset;
  width: 100%;
  aspect-ratio: 1;
}
.arbutton {
  height: 40px;
}
.hide
{
  display: none;
}
.tabAnimationToggle {
  display: none;
}

.texture-button {
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;

}

.texture-button img {
  height: 20px;
  width: 20px;
}

.texture-button:hover {
  margin: 0px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.green-orange {
  background-color: #4b6ccf;
}

.green-orange:hover {
  background-color: #375099;
}

.yellow-blue {
  background-color: #686766;
}

.yellow-blue:hover {
  background-color: #444343;
}

.red-purpl {
  background-color: #dd3e48;
}

.red-purpl:hover {
  background-color: #b6323b;
}

.tabbuttonView {
  display: none;
}

/* start of desktop styles */

@media screen and (max-width: 1024px) {

  /* start of large tablet styles */
  .fullFrameContainer {
    background-color: #131B26;
  }

  .modelviewer {
    background-color: #131B26;
  }

  .buttonHolder {
    height: auto;
    width: auto;
  }

  .title {
    font-size: 28px;
  }

  .subTitle {
    font-size: 24px;
  }

  .para {
    font-size: 16px;
  }

  .animatonTitel {
    font-size: 14px;
  }

  .tabbuttonView {
    display: none;
  }


}

@media screen and (max-width: 991px) {

  /* start of large tablet styles */
  .fullFrameContainer {
    aspect-ratio: 4/5;
    background-color: #131B26;
  }

  .modelviewer {
    background-color: #131B26;
  }

  .buttonHolder {
    height: auto;
    width: auto;
  }

  .title {
    margin: 20px;
    font-size: 28px;
  }

  .subTitle {
    font-size: 24px;
  }

  .para {
    font-size: 18px;
  }

  .animatonTitel {
    font-size: 18px;
  }

  .tabbuttonView {
    display: none;
  }
  .texture-button {
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
  }
  
  .texture-button img {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 767px) {

  /* start of medium tablet styles */
  .fullFrameContainer {
    aspect-ratio: 3/4;
    background-color: #131B26;
  }

  .modelviewer {
    aspect-ratio: 2/1;
  }

  .controlviewer {
    display: none;
  }

  .tabAnimationToggle {
    display: block;
  }
}

@media screen and (max-width: 479px) {

  /* start of phone styles */
  .fullFrameContainer {
    aspect-ratio: 4/5;
  }

  .tabbuttonView {
    display: none;
  }

  .modelviewer {
    height: unset;
    width: 100%;
    aspect-ratio: 16/10;
  }

  .title {
    margin: 10px;
    text-align: center;
    text-decoration: solid;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
  }

  .subTitle {
    text-align: left;
    text-decoration: solid;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 20px;
    color: white;
  }


  .para {
    color: rgb(107, 103, 103);
    text-align: left;
    text-decoration: solid;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    margin-left: 20px;
  }

  .animatonTitel {
    color: rgb(240, 227, 227);
    text-align: center;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
  }

  .buttonviewer {
    height: unset;
    width: 100%;
    aspect-ratio: 1;
  }


  .tabAnimationToggle {
    display: none;
  }

  .texture-button {
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
  }

  .texture-button img {
    height: 20px;
    width: 20px;
  }
}